:root {
  --primary-color: #242424;
  --secondary-color: #626262;
  --accent-orange-color: #ff6f61;
  --accent-purple-color: #646cff;
  --text-color: #ffffff;
  --button-color: #1a1a1a;
  --error-color: #ff4d4f;
}
