@import './variables.css';

:root { --header-height: 70px; }

.weather-display-container {
    margin-top: 3rem;
    margin-bottom: 2rem;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: calc(90vh - var(--header-height));
    max-width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
}


.left-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-display {
    background-color: transparent;
    height: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.display-title {
    margin: 0;
    font-size: 3rem;
}

.display-subtitle {
    font-size: 2rem;
}

.forecast-display {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.forecast-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding-left: 1rem;
}

.forecast-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    border-radius: 16px;
    transition: transform 0.2s ease, color 0.2s ease;

}

.forecast-item:hover {
    background-color: var(--accent-orange-color);
}

.sub-display {
    text-align: left;
}

.sub-display,
.forecast-display,
.prediction-display {
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.display-title {
    margin-bottom: 0.5rem;
}

.weather-icon {
    font-size: 10rem;
    color: var(--accent-orange-color);
    margin: 0 5rem;
    transition: transform 0.2s ease, color 0.2s ease;
}

.weather-icon.sun {
    color: #FFD166;
}

.weather-icon.rain {
    color: #4A90E2;
}

.weather-icon.snow {
    color: #ffffff;
}

.weather-icon.wind {
    color: #76C7C0;
}

.prediction-display ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.weather-icon:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .weather-display-container {
        grid-template-columns: 1fr;
    }
    
    .main-display {
        flex-direction: column;
    }

    .main-info {
        align-self: flex-start;
    }
    
    .weather-icon {
        align-self: flex-start;
        margin: 1rem 0;
    }
}
